html {
    height: 100%;
}
body {
    height: 100%;
    overflow: hidden;
    background-image: url("/images/75830167_p0.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 15% 0%;
    background-repeat: no-repeat;
    margin: 0;
}
input {
    margin: 0.1em;
    background: #2b4050aa;
    color: #aaaaaa;
    border: none;
    width: 100%;
}
.shadow {
    position: relative;
    overflow: auto;
    background: #10181eaa;
    width: 100%;
    height: 100%;
    padding: 0;
}
.marker {
    background: #000000aa;
    color: #AAAAAA;
    text-align: center;
}
a {
    color: #AAAAAA;
}
.me-link {
    display: none;
}
.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #AAAAAA;
    text-align: right;
}
.post-container {
    vertical-align: middle;
}
.post {
    margin: 1em;
    padding: 1em;
    padding-left: 1em;
    color: #aaaaaa;
    background: #10181ecc;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
}
.login-form {
    margin: 1em;
    padding: 1em;
    padding-left: 1em;
    color: #aaaaaa;
    background: #10181ecc;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}
.left-text {
    text-align: left !important;
}
.non-scroll {
    overflow: hidden !important;
}
.center {
    background: #000000aa;
    color: #AAAAAA;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 50%;
    font-size: 5em;
}